@() @main("Admin Page") {
<script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>

<div class="table-responsiveness">
	<table class="table">
		<thead>
	      <tr>
	        <th>Email</th>
	        <th>Name</th>
	        <th>Password</th>
	      </tr>
	    </thead>	    
	</table>
</div>
<div class="jumbotron">
	<h2>Add New User</h2>
	<form action="@routes.Admin.addUser()" method="post">
		<div class="form-group">
	      	<label for="email">Email:</label>
	     	<input type="email" class="form-control" id="email" placeholder="Enter email">
	    </div>
	    <div class="form-group">
	      	<label for="name">Full Name:</label>
	     	<input type="name" class="form-control" id="name" placeholder="Enter name">
	    </div>
	    <div class="form-group">
	      	<label for="password">Password:</label>
	     	<input type="password" class="form-control" id="password" placeholder="Enter password">
	    </div>
		<button type="button" class="btn btn-primary btn-block">Add User</button>
	</form>
</div>
}
