@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
    	<title>@title</title>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">    	
    	<link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
        <!-- <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"> -->
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
    	<script src="@routes.Assets.at("javascripts/jquery/jquery-2.1.0.js")"></script>      
      	<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    	<div class = "container">
    		<div class="page-header"><h1>@title</h1></div>
    		<ul class="nav nav-tabs">
			    <li class="active"><a href="#">Home</a></li>
			    <li><a href="#">Menu 1</a></li>
			    <li><a href="#">Menu 2</a></li>
			    <li><a href="#">Menu 3</a></li>
			  </ul>
    		@content
    	</div>        
    </body>
</html>
